body {
  background-image: url("../img/sfondo.jpg");}


/*  inizio regole main wrapper */
.mainwrapper {
margin: 0px auto;
width: 50%;  }
/* fine regole main wrapper */


/* inizio regole  header  */
.header {
  color: white;
}
.header hr {
  margin-top: 0px;
}

/*  inizio regole  top header */
.header .top-header img {
  vertical-align: middle;
  height: 100px;}
.header .top-header span {
  font-size: 30px;
  height: 100px;}
/* fine regole top header */

/*  inizio regole bottom header */
.header .bottom-header  {
  font-size: 25px;

}
.header .bottom-header .text {
font-size: 25px;
margin-top: 16px;
margin-bottom: 16px;
}
.header .bottom-header .number {
  width: 50px;
  background-color: orange;
  padding: 12px;
  height: 50px;
  border-radius: 50%
}
/*  fine regole bottom header */
/* fine regole header */


/* inizio content */
.content .email {
  padding: 2px;
  border: 1px solid black;
  background-color: lightgrey;
}
.content .email .mail-text {
  color: darkgrey;
}

.content .read {
  background-color: white;
}
/* fine regole content */

/* inizio regole footer */
.footer {
  color: white;
  text-align: center;}

.footer p {
  font-style: italic;

}
.footer p .company {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}
/* fine regole footer  */

/* fine main wrapper */
